[ req ]
prompt = no
distinguished_name    = req_distinguished_name
[ req_distinguished_name ]
C=KR
L=Seoul
O=Kurly
CN=kurly.dev
OU=Kurly

[ v3_req ]

keyUsage = nonRepudiation, digitalSignature, keyEncipherment, cRLSign, keyCertSign
subjectAltName = @alt_names

[ alt_names ]
DNS.1 = kurly.com
DNS.2 = *.kurly.com
DNS.3 = *.local.kurly.com
DNS.4 = *.dev.kurly.com
DNS.5 = *.stg.kurly.com
DNS.6 = *.perf.kurly.com
DNS.7 = kurlycorp.kr
DNS.8 = *.kurlycorp.kr
DNS.9 = *.local.kurlycorp.kr
DNS.10 = *.dev.kurlycorp.kr
DNS.11 = *.stg.kurlycorp.kr
DNS.12 = *.perf.kurlycorp.kr
DNS.13 = kurly.services
DNS.14 = *.kurly.services
DNS.15 = *.local.kurly.services
DNS.16 = *.dev.kurly.services
DNS.17 = *.stg.kurly.services
DNS.18 = *.perf.kurly.services
DNS.19 = localhost
DNS.20 = 127.0.0.1
DNS.21 = ::1
